@import "tailwindcss";

@theme {
  --color-primary: #1E3A8A;
  --color-primary-hover: #172554;
  --color-secondary: #2563EB;
  --color-secondary-hover: #1D4ED8;
  --font-sans: var(--font-inter);
}

@layer base {
  :root {
    --background: #EFF6FF;
    --foreground: #0F172A;
  }

  .dark {
    --background: #020617;
    --foreground: #F8FAFC;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased transition-colors duration-300;
  }
}